@page "/class"
@using Application.Services.ClassServices
@using Application.DTOs
@rendermode InteractiveServer       
@inject NavigationManager Navigation

@inject IClassService ClassService
@* <h1>
    Class List
     <a class="btn btn-primary" href="/class/add">Add Class</a>
</h1>
<table class="table">
    <tr>
        <th>Class ID</th>
        <th>Class Name</th>
        <th>Class EducationLevel</th>
        <th>Class Faculty</th>
    </tr>

@foreach(var cls in classes){
    <tr>
        <td>@cls.Id</td>
        <td>@cls.Name</td>
        <td>@cls.EducationLevelId</td>
        <td>@cls.FacultyId</td>

        <td> <a href="/Class/@cls.Id" class="btn btn-primary" >View Details</a>
        <a class="btn btn-primary" href="/class/add">Add Class</a></td>
    </tr>

}
</table> *@



<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4" >
        <MudDataGrid T="GetClassDTO" MultiSelection="true" Items="@classes" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="@_quickFilter"
            Hideable="true" RowClick="@RowClicked" RowContextMenuClick="RowRightClicked" SelectedItemsChanged="@SelectedItemsChanged">
            
            <ToolBarContent>
                <MudText Typo="Typo.h6">classes</MudText>
                <MudSpacer />
                <MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="d-none d-md-flex">
                  <MudTextField 
                    @bind-Value="_searchString" 
                    Placeholder="Search" 
                    Adornment="Adornment.Start" 
                    Immediate="true"
                    AdornmentIcon="@Icons.Material.Filled.Search" 
                    IconSize="Size.Medium" 
                    Variant="Variant.Outlined"
                    Margin="Margin.Dense"
                    Class="mt-1 w-100">
                  </MudTextField>
                </MudContainer>

                <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="ml-4">Add Student</MudButton>
            
            </ToolBarContent>

            <Columns>
                <SelectColumn T="GetStudentDTO" />
                <PropertyColumn Property="x => x.Id" Title="ID" Sortable="true" Filterable="false" />
                <PropertyColumn Property="x => x.EducationLevelId" Title="EducationLevel" />
                <PropertyColumn Property="x => x.FacultyId" Title="Faculty" />
               
                 @* <PropertyColumn Property="x => x.MatherName" />
                <PropertyColumn Property="x => x.FatherName" Title="Molar mass" />
                <PropertyColumn Property="x => x.FatherPhoneNmuber" Title="Category" />
                 <PropertyColumn Property="x => x.MatherPhoneNumber" />
                <PropertyColumn Property="x => x.UserAdded" Title="Molar mass" />
                <PropertyColumn Property="x => x.DateAdded" Title="Category" />
                <PropertyColumn Property="x => x.Status" Title="Category" /> *@

            </Columns>

            <PagerContent>
                <MudDataGridPager T="GetStudentDTO" />
            </PagerContent>

        </MudDataGrid>
</MudContainer>

@code
{
     private string _searchString;
        private bool _sortNameByLength;
        private List<string> _events = new();

              void RowClicked(DataGridRowClickEventArgs<GetClassDTO> args)
        {
            _events.Insert(0, $"Event = RowClick, Index = {args.RowIndex}, Data = {System.Text.Json.JsonSerializer.Serialize(args.Item)}");
        }
        
        void RowRightClicked(DataGridRowClickEventArgs<GetClassDTO> args)
        {
            _events.Insert(0, $"Event = RowRightClick, Index = {args.RowIndex}, Data = {System.Text.Json.JsonSerializer.Serialize(args.Item)}");
        }

        void SelectedItemsChanged(HashSet<GetClassDTO> items)
        {
            _events.Insert(0, $"Event = SelectedItemsChanged, Data = {System.Text.Json.JsonSerializer.Serialize(items)}");
        }
         private Func<GetClassDTO, object> _sortBy => x =>
        {
            if (_sortNameByLength)
                return x.Name.Length;
            else
                return x.Name;
        };
        // quick filter - filter globally across multiple columns with the same input
        private Func<GetClassDTO, bool> _quickFilter => x =>
        {
            if (string.IsNullOrWhiteSpace(_searchString))
                return true;

            if (x.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
                return true;

           

            return false;
        };

   
    private List<GetClassDTO> classes = new List<GetClassDTO>();
        protected override async Task OnInitializedAsync()
    {
        classes= await ClassService.GetAllClassesAsync();
    }
}