@page "/class"
@using Application.Services.ClassServices
@using Domain.Entities;

@inject IClassService ClassService
<h1>
    Class List
</h1>
<table>
    <tr>
        <th>Class ID</th>
        <th>Class Name</th>
        <th>Class Level</th>
        <th>Class teacher</th>
        <th>Class student</th>
    </tr>

@foreach(var cls in classes){
    <tr>
        <td>@cls.id</td>
        <td>@cls.name</td>
        <td>@cls.level</td>
        <td>@cls.teacher</td>
        <td>@cls.student</td>
    </tr>

}
</table>

@code
{
   
    private List<Classs> classes = new List<Classs>();
        protected override void OnInitialized()
    {
        classes= ClassService.GetAllClasses();
    }
}