@page "/student"

@using Core.Application.Services.StudentServices;
@inject IStudentService StudentService
<h1>
    Students List
</h1>
<table>
 <tr>

    <th>ID</th>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>sex</th>
    <th>email</th>
    <th>phone</th>

</tr>
@foreach(var student in students){
    <tr>
        <td>@student.Id</td>
        <td>@student.Name</td>
        <td>@student.DateofBirth</td>
        <td>@student.Sex</td>
        <td>@student.Email</td>
        <td>@student.Phone</td>
    </tr>
}

</table>
@code
{
    private List<Student> students = new List<Student>();

    protected override void OnInitialized()
    {
        students= StudentService.GetAllStudents();
    }


}





