@page "/student"
<h1>
    Students List
</h1>
<table>
 <tr>

    <th>ID</th>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>sex</th>
    <th>email</th>
    <th>phone</th>

</tr>
@foreach(var student in students){
    <tr>
        <td>@student.Id</td>
        <td>@student.Name</td>
        <td>@student.DateofBirth</td>
        <td>@student.Sex</td>
        <td>@student.Email</td>
        <td>@student.Phone</td>
    </tr>
}

</table>


@code
{
    public class Student{
        public int Id{get;set;}
        public string Name{get;set;}
        public DateTime DateofBirth {get;set;}
        public string Sex {get; set;}
        public string Email{get;set;}
        public string Phone{ get;set;}


    }
    private List<Student> students = new List<Student>();
    protected override void OnInitialized()
    {
        students= new List<Student>{
            new Student {Id=1, Email="bikorimana@gmail.com", Name="BIKORIMANA",Phone="07987987987",Sex="male", DateofBirth= new DateTime(2000,1,6)},
            new Student {Id=2, DateofBirth= new DateTime (2005, 4, 26), Email="bikirimana@gmail.com",Name="BIKORIMANA",Phone="078837578",Sex="MALE"}
        };
    }


}





